# Compiled files and directories
/target/

# Rustdoc output
/doc/

# Cargo lock file (keep this if you're building a binary, ignore for a library)
# Cargo.lock

# Dependency directories (remove the "/" at the end to include it if it's a submodule)
**/.cargo/

# Backup files created by some editors
*.swp
*~
.DS_Store

# IDE-specific files and directories
# For Visual Studio Code
.vscode/